<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Огонь!</title>
  <link rel="shortcut icon" href="/favicon.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <style>
    body {
      padding-top: 16px;
    }

    .lh-125 {
      line-height: 1.25;
    }
  </style>

  <!-- Vue.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="bg-light">
  <div id="app" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Сообщения ({{messages.length}})</h6>
      <div class="media text-muted pt-3" v-for="msg in messages">
        <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
          <title>{{ msg.username }}</title>
          <rect width="100%" height="100%" :fill="msg.username == 'Bot' ? '#007bff' : '#e83e8c'" />
        </svg>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">{{ msg.username }}</strong>
            <div>{{ new Date(msg.ts).toLocaleTimeString() }}</div>
          </div>
          <span class="d-block">{{ msg.text }}</span>
        </div>
      </div>
      <small class="d-block text-right mt-3">
        <a href="#">Наверх</a>
      </small>
    </div>

    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <div class="input-group mb-3">
        <input id="type" class="form-control" placeholder="Напиши сообщение..." v-model="type" @keyup.enter="submit">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" v-on:click="submit">Отправить</button>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery совершенно не обязателен. Вообще, весь этот файл дан просто для примера -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        type: "",
        messages: []
      },

      created() {
        // загрузка истории сообщений
        let str = localStorage.getItem("messages");
        if (str) this.messages = JSON.parse(str);

        // ивент для сохранения сообщений при выходе
        window.addEventListener("beforeunload", () =>
          localStorage.setItem("messages", JSON.stringify(this.messages.slice(-100))), false);

        // автофокусировка на инпуте
        document.addEventListener("keypress", () => $("#type").focus(), false);
      },

      methods: {
        submit(e) {
          this.messages.push({ username: "User", text: this.type, ts: Date.now() });

          $.post("/api/get-answer", { q: this.type }).done((resp) => {
            if (resp.ok) {
              this.messages.push({ username: "Bot", text: resp.a, ts: Date.now() });
            } else {
              console.log("ERR:", resp.error);
            }
          });

          this.type = "";

          $("body,html").animate({ scrollTop: $("body").height() }, 600);
        }
      }
    })
  </script>
</body>

</html>